{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block H1 %}Formation {{ page.cours.titre }}{% endblock %}

{% block body %}

<h2 class="border border-info  rounded p-2 m-4">{{ page.titre }}</h2>

{% include 'front_end/component/youtubeVideo.html.twig' with {videoId:page.video} %}

{{ page.contenu | raw }}

{% if page.numPage >= 2 %}
<a href="{{ path('page',{idCours:page.cours.id,numPage:page.numPage - 1})}}" class="btn btn-primary m-4">Page précédente</a>
{% endif %}
{% if page.numPage < page.cours.pages | length %}
<a href="{{ path('page',{idCours:page.cours.id,numPage:page.numPage + 1})}}" class="btn btn-primary m-4">Page suivante</a>
{% elseif page.numPage == page.cours.pages | length %}
<a href="{{ path('liste-cours')}}" class="btn btn-success m-4">Page d'accueil</a>
{% endif %}





{% endblock %}